# Visual Studio
.vs/
*.user
*.suo

# Build outputs
bin/
obj/

# Rider / VSCode
.idea/
.vscode/

# Logs / DB / OS
*.log
*.dbmdl
Thumbs.db
.DS_Store

# Environments
env/
venv/
include/
lib/
libs/
Pyvenv.cfg
pip-log.txt
pip-delete-this-directory.txt
.Python
python_env/
*.egg-info/
*.egg
__pycache__/
*.py[cod]
*$py.class

takeown /f ".vs\TravelRequest.slnx\FileContentIndex\6c865eb5-e628-45d4-b5c3-1a3a0a7dba44.vsidx"
icacls ".vs\TravelRequest.slnx\FileContentIndex\6c865eb5-e628-45d4-b5c3-1a3a0a7dba44.vsidx" /grant "%USERNAME%:R"